$primary: #125fdb;
$primaryhover: lighten($primary, 5%);
$primaryfocus: darken($primary, 5%);
$black: #222222;
$light: #e7effb;
$darkgrey: #333333;
$f: #ffffff;
$b: #000000;

$shadow: 0 2px 25px rgba($b, 0.2);
