<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Kompeter
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Sansita:700&display=swap")
    link(rel="stylesheet", href="assets/css/style.css")
  body

    nav.nav
      .container
        .flex.justify-content-between
          div
            a(href="./")
              img(src="assets/img/kompeter-logo.svg", alt="kompeter logo", width="130")
          div
            ul
              li
                a(href="#!") About
              li
                a(href="#!") How to use
              li
                a(href="#!") Login

    main.index

      section.index-hero
        .index-hero__background
          img(src="assets/img/kompeter-banner-bg-1.jpg", alt="kompeter-banner")
          img(src="assets/img/kompeter-banner-bg-2.jpg", alt="kompeter-banner")
          img(src="assets/img/kompeter-banner-bg-3.jpg", alt="kompeter-banner")
          img(src="assets/img/kompeter-banner-bg-4.jpg", alt="kompeter-banner")
          img(src="assets/img/kompeter-banner-bg-5.jpg", alt="kompeter-banner")
          img(src="assets/img/kompeter-banner-bg-6.jpg", alt="kompeter-banner")
        .index-hero__angle
        .container.flex.align-items-center
          .index-hero__wrapper
            h1.white Host and Run Competitions
            p An End-To-End Competition Management
              br
              | Platform to brand, promote and conduct contests.
            a.button.button-inverted(href="#!") Sign up

      section.index-make.center
        .container
          h2 Make Your Competitions Tech-Empowered
          p A platform that gives you all the tools you need to run competitions effectively. Catering to quizzes, online contests, hackathons and more, with Kompeter you can:
          .flex
            .flex-1
              img(src="assets/img/brand-competition.png", alt="brand competition")
              span Brand your competition with customisable templates
            .flex-1
              img(src="assets/img/promote.png", alt="promote")
              span Promote your competition digitally
            .flex-1
              img(src="assets/img/collect-manage.png", alt="collect manage")
              span Collect and manage
                br
                | entries
            .flex-1
              img(src="assets/img/share-award.png", alt="share award")
              span Share and award
                br
                | winners

      section.index-create
        .container
          h2.center Create Your Competition In Three Simple Steps
          .index-create__items
            .index-create__item.flex.align-items-center
              .flex-1
                img(src="assets/img/placeholder.svg", alt="placeholder")
              .flex-1
                span.index-create--step.step-down Step 1
                span Sign-up on Kompeter and make your profile.
            .index-create__item.flex.align-items-center
              .flex-1
                img(src="assets/img/placeholder.svg", alt="placeholder")
              .flex-1
                span.index-create--step.step-down Step 2
                span Choose a template for your competition page.
            .index-create__item.flex.align-items-center
              .flex-1
                img(src="assets/img/placeholder.svg", alt="placeholder")
              .flex-1
                span.index-create--step Step 3
                span Add the necessary assets and details about the competition.
          .center
            a.button(href="#!") Build Your Competition

      section.index-latest
        .container
          h2.center Latest Competitions On Kompeter
          .right
            a.underline(href="#!") See All Competitions
          .flex
            .flex-1
              img(src="assets/img/blog-post-1.jpg", alt="")
              .index-latest__content
                h3 Lorem ipsum dolor sit.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis perspiciatis iusto totam, consectetur a voluptatem maiores illo possimus cupiditate nesciunt.
              .index-latest__cta
                a(href="#!") Participate
            .flex-1
              img(src="assets/img/blog-post-2.jpg", alt="")
              .index-latest__content
                h3 Lorem ipsum dolor sit.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis perspiciatis iusto totam, consectetur a voluptatem maiores illo possimus cupiditate nesciunt.
              .index-latest__cta
                a(href="#!") Participate
            .flex-1
              img(src="assets/img/blog-post-3.jpg", alt="")
              .index-latest__content
                h3 Lorem ipsum dolor sit.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis perspiciatis iusto totam, consectetur a voluptatem maiores illo possimus cupiditate nesciunt.
              .index-latest__cta
                a(href="#!") Participate

    script(src="assets/js/main.js")
